
.playButton  {
  padding-right:12px;
  position:absolute;
  top: 0;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 88880000;
  overflow: auto;
  margin-top: 12px;
}

.closeButton  {
  position:absolute;
  top:0;
  right:0;
  z-index: 88880000;
  overflow: auto;
  margin: 12px;
}
