
// Global variables
$dark: #000000;
$white: #ffffff;

$sunweb-primary: 	#ed2924;
$eliza-primary: #e01055;
$gogo-primary:	#0080ab;
$primavera-primary: #00b49d;
$bizztravel-primary: 	#067cc0;

$sidebar-width: 430px;

$loader-primary: $sunweb-primary;
$loader-secondary: lighten($sunweb-primary, 10%);
