.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

.contentbox {
  background: #fff;
  position: fixed;
  margin-left: 10px;
  top: 110px;
  z-index: 200000;
  min-width: 300px;
  width: 100%;
  max-width: calc( 100% - 20px);
  border-radius: 25px;
  overflow: auto;
  overflow-y: overlay;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

@media only screen and (min-width: 769px){
  .contentbox {
    top: 70px;
    width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .contentbox {
    width: 600px;
  }
}
